@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Signika Negative', sans-serif;
    font-size: 12px;
    color: #181D31;
}

h2{
    font-size: 30px;
    padding: 10px;
}

.header {
    min-height: 56px;
    transition: min-height 0.3s;

    background-color: #F0E9D2;
}

.header__inner {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    font-weight: 300;
    font-size: 5em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #181D31;
}

.header__menu {
    font-size: 32px;
    margin: 10px auto;
    display: block;
    width: 30px;

    text-align: center;
}

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #F0E9D2;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    box-sizing: border-box;
    display: inline;
    width: 24%;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav__list a{
    font-size: 1.05rem;
    font-weight: 500;
    color: #181D31;
    padding: .5rem 1.5rem;
    border-radius: 30px 0px 30px 0px;
    transition: all .2s ease-in-out;
}

.nav a {
    /* penambahan display dan padding */
    display: inline-block;
    padding: 1.3em;
  
    text-decoration: underline;
}

.nav a:hover {
    text-decoration: none;
    color: #E6DDC4;
    background-color: #181D31;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-color: #181D31;
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: #E6DDC4;
    font-weight: 500;
    font-size: 35px;
}

.hero__tagline {
    color: #E6DDC4;
    margin-top: 16px;
    font-size: 17px;
    font-weight: 300;
}

main {
    padding: 20px;
    
    display: flex;
    gap: 1.5rem;
}

main, p {
    font-size: 16px;
    margin: 5px;
}

#content {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

.card {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
}

.certificate, ol{
    padding: 20px;
    line-height: 25px;
}

.linkedIn{
    width: 55px;
}

.github{
    width: 100px;
}

aside {
    flex: 1;
    font-size: 14px;
}

.profile header {
    text-align: center;
}

.profile img {
    width: 185px;
    border-radius: 15px;
}

footer {
    padding: 20px;
    font-size: 16px;
    color: #E6DDC4;
    background-color: #181D31;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }
    
    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    main aside {
        align-self: stretch;
    }

    .hero__title{
        font-size: 30px;
    }

    .hero__tagline{
        font-size: 16px;
    }
}

@media screen and (max-width: 499px) {
    .nav {
      z-index: 10;
      background-color: #181D31;
      width: 300px;
      position: absolute;
  
      /* This trasform moves the drawer off canvas. */
      -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0);
  
      /* Optionally, we animate the drawer. */
      transition: transform 0.3s ease;
    }
  
    .open {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    .hero__title{
        font-size: 22px;
    }

    .hero__tagline{
        font-size: 14px;
    }

    .nav__list a{
        color: #E6DDC4;
        text-decoration: none;
    }

    .nav__list a:hover{
        color: #181D31;
        background-color: #E6DDC4;
        border-radius: 0px;
    }
  
    .nav__item {
      display: list-item;
      border-bottom: 1px solid #181D31;
      width: 100%;
      text-align: left;
    }
}

@media screen and (min-width: 500px) {
    .header__menu {
      display: none;
    }

    .hero__title{
        font-size: 24px;
    }

    .hero__tagline{
        font-size: 16px;
    }
}